
body {
  font-family: 'Roboto', sans-serif;
  color: #202020;
}

/* Header y Navbar */

h1 {
  font-family: 'Courgette', cursive;
  background: -webkit-linear-gradient(rgba(241,211,55,1), #e37611);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top {
  height: 5vh;
  padding: 10px 5px;
  text-align: center;
}

.top button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 25px;
  color: #adadad;
}

.navbar {
  margin-top: 5vh;
  padding: 10px 50px 0px 50px;
  text-align: center;
  border-bottom: 1px solid #adadad;
}

.nav-link {
  color: #adadad;
  width: 40%;
}

#searchBtn {
  color: #202020;
  font-weight: 700;
  border-bottom: 2px solid #f1d337;
}

/* Information */

.filter {
  display: flex;
  margin: auto;
  padding: 10px;
  width: 50vw;
}

#typeFilter {
  background: -webkit-linear-gradient(#f1d337, #e37611);
  color: white;
}

#typeFilter option {
  color: #202020;
}

#typerFilter:hover {
  color: #e37611;
}

.container-2 {
  padding: 15px 15px 0 15px;
}

.container-2>p {
  margin: 20px;
  text-align: center;
  line-height: 45px;
}

.result-entries {
  border: 2px solid #e37611;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 15px;
}

.result-entries img {
  height: 100px;
  width: 100px;
}



