/* Header y Navbar */

h1 {
  font-family: 'Courgette', cursive;
  background: -webkit-linear-gradient(rgba(241,211,55,1), #e37611);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top {
  height: 5vh;
  padding: 10px 5px;
  text-align: center;
}

.top button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 25px;
  color: #adadad;
}

.navbar {
  margin-top: 5vh;
  padding: 10px 50px;
  text-align: center;
}

.nav-link {
  color: #adadad;
  width: 40%;
}

#registerBtn {
  color: #202020;
  font-weight: 700;
  border-bottom: 1px solid #e37611;
}

/* Formulario de Registro */

.form-container {
  display: none;
}

.dual {
  width: 50%;
}