/* Header y Navbar */
body {
  font-family: 'Roboto', sans-serif;
  color: #adadad;
}

h1 {
  font-family: 'Courgette', cursive;
  background: -webkit-linear-gradient(rgba(241,211,55,1), #e37611);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  padding: 15px 0 10px 0;
  text-align: center;
  font-weight: 300;
}

.top {
  height: 5vh;
  padding: 10px 5px;
  text-align: center;
}

.top button {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 25px;
  color: #adadad;
  font-weight: 300;
}

.navbar {
  margin-top: 5vh;
  padding: 10px 50px 0px 50px;
  text-align: center;
  border-bottom: 1px solid #adadad;
}

.nav-link {
  color: #adadad;
  width: 40%;
}

.options-container {
  display: flex;
  justify-content: space-around;
}

.option-btn {
  border: 2px solid #e37611;
  background: white;
  color: #e37611;
  font-weight: 300;
  width: 45%;
  border-radius: 8px;
}

.selected-option {
  background: #e37611;
  color: white;
  font-weight: 700;
  width: 45%;
  border-radius: 8px;
}

#registerBtn {
  color: #202020;
  font-weight: 700;
  border-bottom: 2px solid #f1d337;
}

/* Formulario de Registro */

.form-container {
  display: none;
  padding: 20px 10px;
  text-align: initial;
}

.fem-dot {
  color: palevioletred!important;
}

.male-dot {
  color: cornflowerblue;
}

.dual {
  width: 50%;
}

.cam-icon, .submit-container {
  text-align: center;
}

.cam-icon {
  color: #e37611;
  padding-top: 15px;
}

.cam-icon input {
  display: none;
}

.cam-icon span {
  color: #adadad;
  padding-right: 10px;
  font-size: 16px;
}

.cam-icon i {
  font-size: 22px;
}

label {
  font-size: 16px!important;
}

textarea, select, input {
  color: #202020!important;
  border: 1px solid #adadad!important;
  font-size: 15px!important;
}

.number-span {
  display: flex;
  align-items: center;
  padding: 5px;
  text-align: center;
  color: #adadad;
  font-size: 15px;
  background-color: #e9ecef;
  border: 1px solid #adadad;
  border-radius: 5px 0 0 5px;
}

.input-group-prepend {
  width: 100%;
}

#objectPhone, #personPhone {
  border-radius: 0px 5px 5px 0px;
}

.submit-container a {
  margin-right: 30px;
}

.submit-container button {
  width: 40%;
}

.submit-container span {
  margin: 0;
}

/* Ficha */

#newEntry {
  height: 95vh;
  padding: 15px;
}

.entry-container {
  height: 100%;
  color: #202020;
}

.entry-photo {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: #adadad;
  text-align: center;
}

.entry-photo img {
  height: 100%;
}

.entry-info {
  display: flex;
  justify-content: space-around;
}

.info-title {
  color: #e37611;
}