
@media(min-width:468px){
    #mapContainer {
        width: 430px;
        height: 400px;
        background: grey;
        
    }
}

@media  (max-width: 600px) {
    #mapContainer {
        width: 600px;
        height: 400px;
    }
}

.container-1, .filter {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.filter {
    margin-top: 10px;
   
}
.container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}

.container-2 > p {
  margin: 20px;
  text-align: center;
  line-height: 45px;
}

body {
    background-color: lightgray;
}



